#Sidemenu {
    position: fixed;
    left: -80px;
    bottom: 100px;
    transform: rotate(90deg);
    z-index: 999;
    padding: 10px 15px 10px 15px;
    background: rgba(33, 33, 33, 0.5);

    .sidemenu-list {
        overflow: hidden;
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .sidemenu-item {
            display: inline;
            text-align: center;
            width: 33%;
            margin-right:10px;

            a {
                display: inline-block;
                color: white;
                padding: .75rem 0;
                margin: 0;
                text-decoration: none;
            }
        }

        hr {
            height: .25rem;
            width: 0%;
            margin: 0;
            background: tomato;
            border: none;
            transition: .3s ease-in-out;
        }
    }
}