/*TODO: rewrite with sass*/
$howManyItems:3;

#Sidemenu {
    position: fixed;
    left: 10px;
    bottom: 100px;
    transform: rotate(90deg);
    z-index: 999;

    .sidemenu-list {
        overflow: hidden;
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .sidemenu-item {
            display: inline;
            text-align: center;
            width: 33%;

            a {
                display: inline-block;
                color: white;
                padding: .75rem 0;
                margin: 0;
                text-decoration: none;
            }
        }

        hr {
            height: .25rem;
            width: 33%;
            margin: 0;
            background: tomato;
            border: none;
            transition: .3s ease-in-out;
        }

        @for $i from 1 through $howManyItems {
            .item-#{$i}:hover~hr {
                margin-left: percentage(1/$howManyItems*(($i)-1));
            }
            .item-#{$i}.active~hr {
                margin-left: percentage(1/$howManyItems*(($i)-1));
            }
        }
    }
}